<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

    <ul>
      <% response.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Are you coming to the wedding on October 21, 2017 in Cary, NC?" %><br>
    <%= form.select(:attendance, ['No', 'Yes']) %>
  </div>

  <!-- Hidden field (which only appears when user select yes) starts -->
  <div id="attendance-yes" style="display: none">
    <div class="form-group">
      <%= form.label "How many guests are coming (including yourself?)" %><br>
      <%= form.number_field :number, id: :response_number %>
    </div>

    <!-- Add new guests within the response form -->
    <div class="response-guest">
      <h3>Guests</h3>
      <div id="guest-field"> 
        <!-- :guests here can be "guests_attributes[]"-->
        <!-- the "form" in form.fields_for cannot be omitted -->          
        <%= form.fields_for :guests, @response.guests do |guest_form| %>
          <%= render 'guest_fields', guest_form: guest_form %>
          
          <hr class="style-fade">
        <% end %>
      </div>
    </div>
  </div>
  <!-- Hidden field ends -->

    <div class="form-group">
      <%= form.label "Any other comment?" %><br>
      <%= form.text_area :message, id: :response_message %>
    </div>

    
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= form.submit "RSVP", class: "btn btn-success" %>
    </div>

<% end %>

<script type="text/javascript">
  var attendanceYes = document.getElementById('attendance-yes');
  var check = document.querySelector('select[name="response[attendance]"]');
  check.onchange = function() {
     if(this.value === "Yes") {
       attendanceYes.style['display'] = 'block';
     } else {
       attendanceYes.style['display'] = 'none';
     }
  };
</script>

<script type="text/javascript">
  

</script>