<%= form_with(model: response, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Are you coming to the wedding on October 21, 2017 in Cary, NC?" %><br>
    <%= form.select(:attendance, ['No', 'Yes']) %>
  </div>

  <!-- Hidden field (which only appears when user select yes) starts -->
  <div id="attendance-yes" style="display: none">
    <!-- Add new guests within the response form -->
    <div class="response-guest">
      <h3>Guests</h3>
      <div id="guest-field"> 
        <!-- :guests here can be "guests_attributes[]"-->
        <!-- the "form" in form.fields_for cannot be omitted -->          
        <%= form.fields_for :guests, @response.guests do |guest_form| %>
          <!-- has to be f here for cocoon to work --> 
          <%= render 'guest_fields', f: guest_form %>
          <!-- the form here refers to the first-level form -->
          <%= link_to_add_association 'Add Another Guest', form, :guests, class: "btn btn-primary", style: "color: #fff" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <!-- Hidden field ends -->

    <div class="form-group">
      <%= form.label "Any other comment?" %><br>
      <%= form.text_area :message, id: :response_message %>
    </div>

    
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= form.submit "RSVP", class: "btn btn-success" %>
    </div>

<% end %>

<script type="text/javascript">
  var attendanceYes = document.getElementById('attendance-yes');
  var check = document.querySelector('select[name="response[attendance]"]');
  check.onchange = function() {
     if(this.value === "Yes") {
       attendanceYes.style['display'] = 'block';
     } else {
       attendanceYes.style['display'] = 'none';
     }
  };
</script>

<script type="text/javascript">
  

</script>