<%= render "responses/header" %>

<div class="row index">
  <h3 style="text-align: center">Guests Who Have RSVPed</h3><br>
  <hr class="style-heart">
  <div class="container">
  <div class="row table-head">
    <div class="col-md-2">User Name</div>
    <div class="col-md-2">Attendance</div>
    <div class="col-md-2">Number of Attendees</div>
    <div class="col-md-2">Guest List</div>
    <div class="col-md-2">Entree</div>
    <div class="col-md-2">Message</div>
  </div>
  <% @responses.each do |r| %>
    <div class="row table-body">
      <div class="col-md-2"><%= r.user.first_name %> <%= r.user.last_name %> </div>
      <div class="col-md-2"><%= r.attendance %> </div>
      <div class="col-md-2"><%= r.guests.count %></div>
      <div class="col-md-2">
        <% r.guests.each do |g| %>
          <%= g.first_name %> <%= g.last_name%><br>
        <% end %>
      </div>
      <div class="col-md-2">
         <% r.guests.each do |g| %>
          <%= g.food %><br>
        <% end %>
      </div>
      <div class="col-md-2"><%= r.message %></div>
    </div>
  <% end %>
  </div>
</div>
<hr class="style-fade">

