<!DOCTYPE html>
<html>
  <head>
    <title>Ling and Robbie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.css">
  </head>

  <body>
  	<%= render "layouts/header" %>
  	<div id = "layout">
    	<div class="container">
      	<%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>">
      
    </script>
  </body>
</html>
